.color{
    background-color: blueviolet !important;
    color: #fff !important;
}


.text-color{
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
  
}

